/*------------------------------------------------------------------------------------------------------
Nome do projeto: Check Livros
Descrição: 

Autores:

Turma: 3TID
Matheus Felix Carlos                                                         Versão: 1.0                    
Hebert Victor Saravalle                                                      Data:20/06/21
Kaike Santos Coppola 

-----------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
	/* --- Estilos para celulares --- */
	.col-s-1 {
		width: 8.33%;
	}
	.col-s-2 {
		width: 16.66%;
	}
	.col-s-3 {
		width: 25%;
	}
	.col-s-4 {
		width: 33.33%;
	}
	.col-s-5 {
		width: 41.66%;
	}
	.col-s-6 {
		width: 50%;
	}
	.col-s-7 {
		width: 58.33%;
	}
	.col-s-8 {
		width: 66.66%;
	}
	.col-s-9 {
		width: 75%;
	}
	.col-s-10 {
		width: 83.33%;
	}
	.col-s-11 {
		width: 91.66%;
	}
	.col-s-12 {
		width: 100%;
	}

	h1 {
		font-size: 1.6em;
		font-family: Georgia, serif;
	}
	h2 {
		font-size: 0.9em;
		font-family: Georgia, serif;
	}
	p {
		font-size: 0.8em;
		font-family: Verdana, sans-serif;
	}
	a {
		font-size: 0.9em;
		font-family: Georgia, serif;
	}

	/* ---------- Estilo do menu ---------- */

	#nav-desktop {
		display: none;
	}
	#nav-mobile-tablets {
		display: block;
		overflow: hidden;
		background-color: whitesmoke;
		color: white;
		position: relative;
		border-bottom: 0.15em solid #edb91c;
	}
	#nav-mobile-tablets #mobileLinks {
		display: none;
	}
	.nav-mobile-logo {
		display: block;
		width: 15vw;
	}
	.a-tablets {
		color: white;
		padding: 0.875em 1em;
		font-size: 0.8em;
		display: block;
		color: black;
		letter-spacing: 0.1em;
	}
	.a-tablets:hover {
		background-color: white;
		color: #edb91c;
	}
	.icon-nav-mobile {
		background-color: whitesmoke;
		display: block;
		position: absolute;
		padding: 5.5% 1em;
		right: 0;
		top: 0;
		color: #edb91c;
		font-size: 1.2em;
	}

	/* ---------- Estilo do rodapé ---------- */

	.footer {
		background-color: #18546e;
		padding-top: 2em;
		padding-bottom: 2em;
		margin-top: auto;
	}
	.logo-container {
		text-align: center;
		color: white;
		margin-bottom: 2em;
	}
	.img_logo_foot {
		width: 90%;
	}
	.footer-nav {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.footer-nav ul {
		margin: 0.8em;
		line-height: 1.5em;
	}
	.a-footer {
		color: white;
		float: left;
		margin-bottom: 0.6em;
		font-size: 1em;
		letter-spacing: 0.1em;
	}
	.a-footer:hover {
		color: #edb91c;
	}
	.redes-container {
		text-align: center;
		margin-top: 3em;
	}
	.redes-container i {
		font-size: 1.8em;
		color: white;
	}
	.search-container {
		padding: 3% 1% 0 1%;
	}

	/* ----------------- ⬇⬇ Estilos ⬇⬇ -------------------------*/

	.container {
		padding: 5% 8%;
	}

	/* ----------------- ⬇⬇ index - home ⬇⬇ -------------------------*/

	.slideshow-container {
		position: relative;
		margin: 0;
	}
	.mySlides {
		display: none;
	}
	.mySlides img {
		width: 100%;
		height: 35vh;
		margin: 0;
	}
	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -1.375em;
		padding: 1em;
		color: white;
		font-weight: bold;
		font-size: 1em;
		transition: 0.6 ease;
		border-radius: 0 0.2em 0.2em 0;
		user-select: none;
	}
	.next {
		right: 0;
		border-radius: 0.2em 0 0 0.2em;
	}
	.dots-container {
		position: absolute;
		bottom: 0;
		margin: 0.5em 1em;
	}
	.dot {
		display: none;
	}
	.active1, .dot:hover {
		background-color: #f0cd65;
	}
	.prev:hover, .next:hover {
		background-color: rgba(0, 0, 0, 0.8);
		color: #edb91c;
	}
	.legenda-slide {
		width: 70%;
		height: 50%;
		text-align: center;
		background-color: #ffffff10;
		backdrop-filter: blur(12px);
		-webkit-backdrop-filter: blur(12px);
		position: absolute;
		top: 25%;
		left: 15%;
	}
	.icon-slide {
		display: none;
	}
	.legenda-slide h1 {
		color: white;
		margin-top: 12%;
		font-size: 1em;
	}
	/* -------------------------------- */

	.beneficios-section {
		padding: 15% 3%;
		background-color: white;
	}
	.beneficios-container {
		background-color: white;
		border-radius: 0.9em;
		border: 0.1em solid #edb91c;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
		color: black;
	}
	.beneficios-container p {
		text-align: justify;
		text-indent: 0.2em;
		line-height: 1.5em;
	}
	.beneficios-itens {
		width: 100%;
		padding: 8%;
	}
	.beneficios-section h1, .beneficios-section h2, .tutorial-section h1 {
		text-align: center;
	}
	.beneficios-section h1 {
		margin-bottom: 3%;
		font-style: italic;
	}
	.p-beneficios {
		text-align: center;
		font-size: 0.9em;
	}
	.a-beneficios {
		text-decoration: underline;
		color: skyblue;
		font-family: Verdana, sans-serif;
	}
	/* -------------------------------- */

	.ranking-container {
		background-color: #247ba0;
		padding: 25% 2%;
	}
	.ranking-container h1 {
		color: white;
		margin-bottom: 4%;
		text-align: center;
	}
	.ranking-positions {
		background-color: white;
		border-radius: 0.9em;
		padding: 3.5% 5%;
		display: flex;
		justify-content: space-between;
	}
	.h1-ranking-container {
		color: white;
		text-align: center;
		margin-bottom: 2%;
	}
	.ranking-positions {
		background-color: white;
		border-radius: 0.9em;
		padding: 2.5% 2%;
		display: flex;
		justify-content: space-between;
	}
	.ranking-positions h2 {
		font-family: Verdana, sans-serif;;
		font-weight: bold;
	}
	.ranking-positions p {
		font-family: Georgia, serif;
		font-weight: 400;
		font-size: 0.9em;
	}
	/* -------------------------------- */

	.tutorial-section {
		background-color: white;
		padding: 15% 8%;
	}
	.tutorial-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.tutorial-item  {
		background-color: white;
		border: 0.15em solid #edb91c;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
		border-radius: 0.9em;
		width: 100%;
		padding: 2%;
		text-align: justify;
		margin-bottom: 8%;
	}
	.tutorial-item a {
		font-family: Verdana, sans-serif;
	}
	.tutorial-section p, a {
		text-align: justify;
		text-indent: 0.3em;
		line-height: 1.5em;
	}

	/* ----------------- ⬇⬇ Gêneros de livros ⬇⬇ -------------------------*/
	.generos-container {
		padding: 5% 5%;
	}
	.generos-flex {
		display: flex;
		flex-wrap: wrap;
	}
	.generos-item {
		width: 100%;
		position: relative;
		margin-bottom: 2.5%;
	}
	.legenda-genero {
		color: white;
		background-color: black;
		padding: 0.4em 0.8em;
		position: absolute;
		top: 0;
		left: 0;
	}
	.generos-container img {
		width: 100%;
		height: auto;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
	}

	/* --------------- ⬇⬇ Fale conosco ⬇⬇ -----------------------*/
	.contato-container {
		padding: 10% 5% 15% 5%;
	}
	.form-container {
		padding: 10% 5% 10% 5%;
	}
	.sugerir-div {
		background-color: white;
		border: 0.1em solid #edb91c;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
		padding: 2% 2.5%;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
	}
	.sugerir-text {
		margin-bottom: 0.625em;
	}
	.icon-contato {
		margin-top: 0.5em;
		font-size: 1.5em;
		color: #f0cd65;
	}
	#form-1, #form-2 {
		display: none;
	}
	input[type="text"], select, textarea, input[type="email"], input[type="password"] {
		width: 100%;
		padding: 0.75em;
		border: 0.1em solid #ccc;
		border-radius: 0.25em;
		margin-top: 0.9em;
		margin-bottom: 1.5em;
		resize: none;
	}
	input[type="submit"] {
		background-color: #ed734c;
		color: white;
		padding: 0.75em 1.25em;
		border: none;
		border-radius: 0.25em;
		cursor: pointer;
	}
	input[type="submit"]:hover {
		background-color: #d64a3a;
	}
	input[type="checkbox"] {
		height: 1.5em;
	}
	.voltar-btn {
		background-color: white;
		color: black;
		padding: 0 1.25em 1em 0;
		border: none;
		border-radius: 0.25em;
		cursor: pointer;
		font-size: 1.4em;
	}
	.voltar-btn:hover {
		color: #edb91c;
	}
	.search-container input {
		margin: 0;
		width: 100%;
	}

	/* ----------------- ⬇⬇ Quem somos ⬇⬇ -------------------------*/
	.sobre-section {
		padding: 5% 2%;
	}
	.sobre-container {
		display: flex;
		flex-direction: column;
	}
	.sobre-sec h1 {
		margin-top: 2%;
		text-align: center;
	}
	.sobre-itens {
		padding: 5%;
		border: 0.1em solid #edb91c;
		border-radius: 0.9em;
		background-color: white;
		margin-bottom: 5%;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
	}
	.item-1 {
		order: 1;
	}
	.item-2 {
		order: 3;
	}
	.item-3 {
		order: 2;
		padding: 0;
		overflow: hidden;
		border: 0;
		box-shadow: 0;
	}
	.sobre-itens p {
		text-align: justify;
		text-indent: 0.3em;
		line-height: 1.5em;
	}
	.sobre-itens ul {
		list-style: disc;
		margin-left: 5%;
		margin-top: 2%;
	}
	.p-sobre {
		font-weight: bold;
	}
	.mySlides1 {
		display: none;
	}
	.mySlides1 img {
		border-radius: 0.9em;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
		width: 100%;
		height: auto;
		margin: 0;
	}

	/* ----------------- ⬇⬇ Cadastro e Login⬇⬇ -------------------------*/

	.cad-section {
		padding: 5% 5%;
	}
	.cad-div {
		border: 0.1em solid #edb91c;
		padding: 5%;
		border-radius: 0.9em;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
	}
	.checkbox-div {
		margin-bottom: 3%;
	}
	.checkbox-div p {
		display: inline;
	}
	.msg-geral {
		width: 50%;
		margin: 0.005% auto;
		padding: 0.625em;
		display: block;
		border-radius: 5em;
		text-align: center;
		margin-bottom: 2em;
	}
	.msg-sucesso {
		background-color: #6cc2e7b6;
		border: 0.1em solid #18546e;
		color: #006c9b;
	}
	.msg-erro {
		background-color: rgba(202, 63, 63, 0.287);
		color: rgb(255, 47, 47);
		border: 0.1em solid rgb(218, 3, 3);
	}
	.img-cad {
		width: 20%;
		margin: 0 40%;
	}

	/* ----------------- ⬇⬇ Resultados ⬇⬇ -------------------------*/

	.resultados-container {
		padding: 5% 5%;
	}
	.flex-livros {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.livro-resultado {
		display: contents;
		cursor: pointer;
	}
	.resultados-container img {
		width: 60%;
		height: auto;
		margin-bottom: 3%;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
	}
	.resenhas-container {
		padding: 5% 5%;
		display: flex;
		flex-direction: column;
	}
	.img-container {
		width: 100%;
	}
	.img-container img {
		width: 75%;
		height: auto;
		margin: 0 12.5%;
	}
	.resenhas-div {
		width: 100%;
	}
	.resenha-user {
		background-color: white;
		padding: 2%;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
		margin-bottom: 2%;
	}
	.resenha-user p {
		text-indent: 0.5em;
	}
	.dados-livro {
		background-color: #247BA0;
		width: 100%;
		padding: 5%;
		margin-bottom: 8%;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
		color: white;
	}

	/* ----------------- ⬇⬇ adm - página ⬇⬇ -------------------------*/

	.adm-section {
		padding: 10% 5%;
	}
	input[type="file"], input[type="date"] {
		padding: 0.75em;
		border: 0.1em solid #ccc;
		border-radius: 0.25em;
		margin-top: 0.9em;
		margin-bottom: 1.5em;
	}

	/* ----------------- ⬇⬇ perfil - página ⬇⬇ -------------------------*/
	.perfil-section {
		background-image: url(../img/pexels-pixabay-271816.jpg);
		background-repeat: no-repeat;
		background-position: 0 35%;
		background-size: cover;
		width: 100%;
		padding: 25%;

		border-bottom: 0.1em solid #EDB91C;
		position: relative;
	}
	.img-div {
		display: flex;
		align-items: flex-end;
		position: absolute;
		bottom: 0;
		left: 2.5%;
		color: white;
	}
	.img-div h1 {
		margin-bottom: 2%;
	}
	.avatar-perfil {
		width: 20%;
		height: auto;
	}
	.resenhas-produzidas-container, .information-container {
		padding: 8% 5%;
	}

}
