/*------------------------------------------------------------------------------------------------------
Nome do projeto: Check Livros
Descrição: 

Autores:

Turma: 3TID
Matheus Felix Carlos                                                         Versão: 1.0                    
Hebert Victor Saravalle                                                      Data:20/06/21
Kaike Santos Coppola 

-----------------------------------------------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, sans-serif;
}

/*

As fontes de letra do projeto são:
Georgia ( para Títulos )
Verdana ( para parágrafos e âncoras )

Cores :
Azul principal: #247BA0
Azul rodapé: #18546E
cinza: #f5f5f5 ou whitesmoke
Amarelo: #EDB91C
Vermelho claro: #ED734C


html{
	scroll-behavior: smooth;
}*/
html,
body {
	height: 100%;
}

body {
	font-size: 100%;
	display: flex;
	flex-direction: column;
}

ul {
	list-style: none;
}

h1 {
	font-size: 2em;
	font-family: Georgia, serif;
}

h2 {
	font-size: 1.25em;
	font-family: Georgia, serif;
}

p {
	font-size: 1em;
}

[class*="col-"] {
	float: left;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

a {
	text-decoration: none;
	font-size: 1em;
}

/* animação fade */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
}
@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
::-webkit-input-placeholder {
	/*WebKit browsers*/
	color: rgb(0, 0, 0);
}
:-moz-placeholder {
	/*Mozilla Firefox 4 to 18*/
	color: rgb(0, 0, 0);
}
:-moz-placeholder {
	/*Mozilla Firefox 19+ */
	color: rgb(0, 0, 0);
}
:-moz-input-placeholder {
	color: rgb(0, 0, 0);
}
