/*------------------------------------------------------------------------------------------------------
Nome do projeto: Check Livros
Descrição: 

Autores:

Turma: 3TID
Matheus Felix Carlos                                                         Versão: 1.0                    
Hebert Victor Saravalle                                                      Data:20/06/21
Kaike Santos Coppola 

-----------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 600px) and (max-width: 992px) {
	/* --- Estilos para tablets --- */
	.col-m-1 {
		width: 8.33%;
	}
	.col-m-2 {
		width: 16.66%;
	}
	.col-m-3 {
		width: 25%;
	}
	.col-m-4 {
		width: 33.33%;
	}
	.col-m-5 {
		width: 41.66%;
	}
	.col-m-6 {
		width: 50%;
	}
	.col-m-7 {
		width: 58.33%;
	}
	.col-m-8 {
		width: 66.66%;
	}
	.col-m-9 {
		width: 75%;
	}
	.col-m-10 {
		width: 83.33%;
	}
	.col-m-11 {
		width: 91.66%;
	}
	.col-m-12 {
		width: 100%;
	}

	h1 {
		font-size: 1.8em;
		font-family: Georgia, serif;
	}
	h2 {
		font-size: 1em;
		font-family: Georgia, serif;
	}
	p {
		font-size: 0.8em;
		font-family: Verdana, sans-serif;
	}
	a {
		font-size: 0.9em;
		font-family: Georgia, serif;
	}

	/* ---------- Estilo do menu ---------- */

	#nav-desktop {
		display: none;
	}
	#nav-mobile-tablets {
		display: block;
		overflow: hidden;
		background-color: whitesmoke;
		color: white;
		position: relative;
		border-bottom: 0.15em solid #edb91c;
	}
	#nav-mobile-tablets #mobileLinks {
		display: none;
		border-bottom: 0.1em solid #edb91c;
	}
	.nav-mobile-logo {
		display: block;
		width: 8vw;
	}
	.a-tablets {
		color: white;
		padding: 0.875em 1em;
		font-size: 0.9em;
		display: block;
		color: black;
		letter-spacing: 0.1em;
	}
	.a-tablets:hover {
		background-color: white;
		color: #edb91c;
	}
	.icon-nav-mobile {
		background-color: whitesmoke;
		display: block;
		position: absolute;
		padding: 3% 1em;
		right: 0;
		top: 0;
		color: #edb91c;
		font-size: 1.2em;
	}
	.search-container {
		padding: 2% 1% 0 1%;
	}

	/* ---------- Estilo do rodapé ---------- */

	.footer {
		background-color: #18546e;
		padding-top: 2em;
		padding-bottom: 2em;
		margin-top: auto;
	}
	.logo-container {
		text-align: center;
		color: white;
		font-size: 75%;
	}
	.img_logo_foot {
		width: 95%;
	}
	.footer-nav {
		display: flex;
		justify-content: space-around;
	}
	.footer-nav ul {
		line-height: 2em;
	}
	.a-footer {
		color: white;
		float: left;
		margin-bottom: 0.4em;
		letter-spacing: 0.1em;
	}
	.a-footer:hover {
		color: #edb91c;
	}
	.redes-container {
		text-align: center;
		margin-top: 3em;
	}
	.redes-container i {
		font-size: 1.6em;
		color: white;
	}

	/* ----------------- ⬇⬇ Estilos ⬇⬇ -------------------------*/

	.container {
		padding: 5% 10%;
	}
	.modal::-webkit-scrollbar {
		width: 15px;
	}
	::-webkit-scrollbar-track {
		background: white;
	}
	::-webkit-scrollbar-thumb {
		background: #18546E;
		border-radius: 8px;
	}

	/* ----------------- ⬇⬇ index - home ⬇⬇ -------------------------*/

	.slideshow-container {
		position: relative;
		margin: 0;
	}
	.mySlides {
		display: none;
	}
	.mySlides img {
		width: 100%;
		height: 60vh;
		margin: 0;
	}
	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -1.375em;
		padding: 1em;
		color: white;
		font-weight: bold;
		font-size: 1.1em;
		transition: 0.6 ease;
		border-radius: 0 0.2em 0.2em 0;
		user-select: none;
	}
	.next {
		right: 0;
		border-radius: 0.2em 0 0 0.2em;
	}
	.dots-container {
		position: absolute;
		bottom: 0;
		margin: 0.5em 1em;
	}
	.dot {
		cursor: pointer;
		height: 1em;
		width: 1em;
		margin: 0;
		background-color: whitesmoke;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6 ease;
	}
	.active1, .dot:hover {
		background-color: #f0cd65;
	}
	.prev:hover, .next:hover {
		background-color: rgba(0, 0, 0, 0.8);
		color: #edb91c;
	}
	.legenda-slide {
		width: 70%;
		height: 50%;
		text-align: center;
		background-color: #ffffff10;
		backdrop-filter: blur(12px);
		-webkit-backdrop-filter: blur(12px);
		position: absolute;
		top: 25%;
		left: 15%;
	}
	.icon-slide {
		font-size: 2em;
		color: #f0cd65;
		margin: 0.2em 0;
	}
	.legenda-slide h1 {
		color: white;
		margin-top: 12%;
		font-size: 1.5em;
	}
	
	/* -------------------------------- */

	.beneficios-section {
		padding: 10% 5% 10% 5%;
		background-color: white;
	}
	.beneficios-container {
		display: flex;
		background-color: white;
		border-radius: 0.9em;
		border: 0.15em solid #edb91c;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
		color: black;
	}
	.beneficios-container p {
		text-align: justify;
	}
	.beneficios-itens {
		width: 50%;
		padding: 2%;
	}
	.beneficios-section h1, .beneficios-section h2, .tutorial-section h1 {
		text-align: center;
	}
	.beneficios-section h1 {
		margin-bottom: 5%;
		font-style: italic;
	}
	.p-beneficios {
		text-align: center;
	}
	.a-beneficios {
		text-decoration: underline;
		color: skyblue;
		font-family: Verdana, sans-serif;
	}
	/* -------------------------------- */

	.ranking-container {
		background-color: #247ba0;
		padding: 10%;
	}
	.ranking-container h1 {
		color: white;
		text-align: center;
		margin-bottom: 4%;
	}
	.ranking-positions {
		background-color: white;
		border-radius: 0.9em;
		padding: 2.5% 5%;
		display: flex;
		justify-content: space-between;
	}
	/* -------------------------------- */

	.tutorial-section {
		background-color: white;
		padding: 5% 15%;
	}
	.tutorial-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.tutorial-item {
		background-color: white;
		border: 0.15em solid #edb91c;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
		border-radius: 0.9em;
		width: 100%;
		padding: 2%;
		text-align: justify;
		margin-bottom: 8%;
	}

	/* ----------------- ⬇⬇ Gêneros de livros ⬇⬇ -------------------------*/

	.generos-container {
		padding: 5% 5%;
	}
	.generos-flex {
		display: flex;
		flex-wrap: wrap;
	}
	.generos-item {
		width: 50%;
		position: relative;
		margin-bottom: 2.5%;
	}
	.legenda-genero {
		color: white;
		background-color: black;
		padding: 0.5em 1em;
		position: absolute;
		top: 0;
		left: 0;
	}
	.generos-container img {
		width: 90%;
		height: auto;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
	}

	/* ----------------- ⬇⬇ Fale conosco ⬇⬇ -------------------------*/

	.contato-container {
		padding: 5% 5%;
	}
	.form-container {
		padding: 5% 12.5% 5% 12.5%;
	}
	.sugerir-div {
		background-color: white;
		border: 0.1em solid #edb91c;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
		padding: 2.5% 5%;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
	}
	.sugerir-div:hover {
		background-color: whitesmoke;
	}
	.sugerir-text {
		margin-bottom: 0.625em;
	}
	.icon-contato {
		margin-top: 0.4em;
		font-size: 2.2em;
		color: #f0cd65;
	}
	#form-1, #form-2 {
		display: none;
	}
	input[type="text"], select, textarea, input[type="email"], input[type="password"] {
		width: 100%;
		padding: 0.75em;
		border: 0.1em solid #ccc;
		border-radius: 0.25em;
		margin-top: 0.9em;
		margin-bottom: 1.5em;
		resize: none;
	}
	input[type="submit"] {
		background-color: #ed734c;
		color: white;
		padding: 0.75em 1.25em;
		border: none;
		border-radius: 0.25em;
		cursor: pointer;
	}
	input[type="submit"]:hover {
		background-color: #d64a3a;
	}
	.voltar-btn {
		background-color: white;
		color: black;
		padding: 0 1.25em 1em 0;
		border: none;
		border-radius: 0.25em;
		cursor: pointer;
		font-size: 1.4em;
	}
	.search-container input {
		margin: 0;
		width: 100%;
	}

	/* ----------------- ⬇⬇ Quem somos ⬇⬇ -------------------------*/

	.sobre-section {
		padding: 5% 5%;
	}
	.sobre-itens {
		padding: 5%;
		border: 0.1em solid #edb91c;
		border-radius: 0.9em;
		background-color: white;
		margin-bottom: 5%;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
	}
	.sobre-itens p {
		text-align: justify;
		text-indent: 0.3em;
		line-height: 1.5em;
	}
	.sobre-itens ul {
		list-style: disc;
		margin-left: 5%;
		margin-top: 2%;
	}
	.p-sobre {
		font-weight: bold;
	}
	.item-3 {
		padding: 0;
		overflow: hidden;
		border: 0;
		box-shadow: 0;
		display: contents;
	}
	.mySlides1 {
		display: none;
	}
	.mySlides1 img {
		border-radius: 0.9em;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
		width: 100%;
		height: auto;
		margin: 0;
	}

	/* ----------------- ⬇⬇ Cadastro e Login⬇⬇ -------------------------*/

	.cad-section {
		padding: 5% 15%;
	}
	.cad-div {
		border: 0.1em solid #edb91c;
		padding: 5%;
		border-radius: 0.9em;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
	}
	.checkbox-div {
		margin-bottom: 3%;
	}
	.checkbox-div p {
		display: inline;
	}
	.msg-geral {
		width: 50%;
		margin: 0.005% auto;
		padding: 0.625em;
		display: block;
		border-radius: 5em;
		text-align: center;
		margin-bottom: 2em;
	}
	.msg-sucesso {
		background-color: #6cc2e7b6;
		border: 0.1em solid #18546e;
		color: #006c9b;
	}
	.msg-erro {
		background-color: rgba(202, 63, 63, 0.287);
		color: rgb(255, 47, 47);
		border: 0.1em solid rgb(218, 3, 3);
	}

	/* ----------------- ⬇⬇ Resultados ⬇⬇ -------------------------*/

	.resultados-container {
		padding: 5% 5%;
	}
	.flex-livros {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.resultados-container img {
		width: 25%;
		height: auto;
		margin-bottom: 3%;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
	}
	.livro-resultado {
		display: contents;
		cursor: pointer;
	}
	.modal_container {
		display: none; 
		position: fixed; 
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%; 
		height: 100%; 
		background-color: rgba(0,0,0,0.4); 
	}
	.modal {
		background-color: #fefefe;
		margin: 5% auto; 
		overflow: auto;
		border: 0.1em solid #888;
		width: 85%; 
	}
	.modal-content {
		padding: 2% 5%;
	}
	.modal h3 {
		text-align: center;
	}
	#btn_fechar {
		position: fixed;
		right: 4.3%;
		top: 9.5%;
		background-color: #EDB91C;
		color: white;
		cursor: pointer;
		border-radius: 10%;
		font-size: 1.5em;
		border: 0;
		padding: 0.3% 1% 0.5% 1%;
		font-weight: bold;
	}
	#btn_fechar:hover {
		background-color: #ED734C;
	}
	.modal_container.mostrar {
		display: flex;
	}
	.div_capa {
		display: contents;
		margin: 0 auto;
	}
	.capa_modal {
		width: 25%;
		height: auto;
		margin: 0 37.5%;
	}
	.dados-livro {
		background-color: #247BA0;
		padding: 2%;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
		color: white;
	}
	.resenha-user {
		background-color: white;
		padding: 2%;
		box-shadow: 0.3125em 0.625em 1.125em #888888;
		margin-bottom: 2%;
	}
	.resenha-user p {
		text-indent: 0.5em;
	}
	.btn_likes {
		display: contents;
		border: 0;
		cursor: pointer;
	}

}
