/*------------------------------------------------------------------------------------------------------
Nome do projeto: Check Livros
Descrição: 

Autores:

Turma: 3TID
Matheus Felix Carlos                                                         Versão: 1.0                    
Hebert Victor Saravalle                                                      Data:20/06/21
Kaike Santos Coppola 

-----------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 600px) and (max-width: 992px) {
	/* --- Estilos para tablets --- */
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}

	/* -------- Estilo do menu -------- */
	#nav-desktop {
		display: none;
	}
	#nav-mobile-tablets {
		display: block;
		overflow: hidden;
		background-color: #FAFFFF;
		color: white;
		position: relative;
		border-bottom: 0.1em solid #EDB91C;
	}
	#nav-mobile-tablets #mobileLinks {
		display: none;
		border-bottom: 0.1em solid #EDB91C;
	}
	#nav-mobile-tablets a {
		color: white;
		padding: 0.875em 1em;
		font-size: 17px;
		display: block;
		color: black;
	}
	#nav-mobile-tablets a:hover {
		background-color: white;
		color: #EDB91C;
	}
	.icon-nav-mobile {
		background-color: white;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		color: #EDB91C;
	}
	.active {
		background-color: #FAFFFF;
		color: black;
	}
	
	/* -------- Estilo do rodapé -------- */
	.footer {
		background-color: #18546E;
		padding-top: 2em;
		padding-bottom: 2em;
		border-top: 0.1em solid black;
		position: absolute;
		bottom: 0;
	}
	.footer-nav {
		display: flex;
	}
	.footer-nav ul {
		margin-left: 7%;
		line-height: 2em;
	}
	.p-footer {
		color: white;
		float: left;
		font-weight: bold;
		margin-bottom: 0.4em;
	}
	.a-footer {
		color: white;
		float: left;
		margin-bottom: 0.4em;
	}
	.a-footer:hover {
		color: #EDB91C;
	}
	.logo-container {
		text-align: center;
		color: white;
		font-size: 75%;
	}
	.redes-container {
		text-align: center;
		margin-top: 3em;
	}
	.redes-container p {
		font-size: 1.4em;
		display: inline;
		color: white;
	}
	.redes-container i {
		font-size: 1.8em;
		color: white;
	}
	
	/* --------------- ⬇⬇ Estilos ⬇⬇ -----------------------*/
	
}