/*------------------------------------------------------------------------------------------------------
Nome do projeto: Check Livros
Descrição: 

Autores:

Turma: 3TID
Matheus Felix Carlos                                                         Versão: 1.0                    
Hebert Victor Saravalle                                                      Data:20/06/21
Kaike Santos Coppola 

-----------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 600px) and (max-width: 992px) {
	/* --- Estilos para tablets --- */
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}

	/* -------- Estilo do menu -------- */
	#nav-desktop {
		display: none;
	}
	#nav-mobile-tablets {
		display: block;
		overflow: hidden;
		background-color: whitesmoke;
		color: white;
		position: relative;
		border-bottom: 0.1em solid #EDB91C;
	}
	#nav-mobile-tablets #mobileLinks {
		display: none;
		border-bottom: 0.1em solid #EDB91C;
	}
	.nav-mobile-tablets-a {
		color: white;
		padding: 0.875em 1em;
		font-size: 17px;
		display: block;
		color: black;
	}
	.nav-mobile-tablets-a:hover {
		background-color: whitesmoke;
		color: #EDB91C;
	}
	.icon-nav-mobile {
		background-color: whitesmoke;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		color: #EDB91C;
	}
	.logo-menu {
		display: inline;
	}
	.
	/* -------- Estilo do rodapé -------- */
	.footer {
		background-color: #18546E;
		padding-top: 2em;
		padding-bottom: 2em;
		border-top: 0.1em solid black;
		margin-top: auto;
	}
	.footer-nav {
		display: flex;
		justify-content: space-around;
	}
	.footer-nav ul {
		line-height: 2em;
	}
	.p-footer {
		color: white;
		float: left;
		font-weight: bold;
		margin-bottom: 0.4em;
	}
	.a-footer {
		color: white;
		float: left;
		margin-bottom: 0.4em;
	}
	.a-footer:hover {
		color: #EDB91C;
	}
	.logo-container {
		text-align: center;
		color: white;
		font-size: 75%;
	}
	.redes-container {
		text-align: center;
		margin-top: 3em;
	}
	.redes-container p {
		font-size: 1.2em;
		display: inline;
		color: white;
	}
	.redes-container i {
		font-size: 1.6em;
		color: white;
	}

	/* --------------- ⬇⬇ Estilos ⬇⬇ -----------------------*/

	.container {
		padding: 5% 10%;
	}

	/* --------------- ⬇⬇ Fale conosco ⬇⬇ -----------------------*/
	.fale-conosco-container h1 {
		font-size: 2em;
	}
	.sugerir-div {
		background-color: white;
		border: 0.1em solid #EDB91C;
		padding: 2.5% 5%;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
	}
	.sugerir-div:hover {
		background-color: #FAFFFF;
	}
	.sugerir-div p {
		font-size: 1em;
	}
	.sugerir-div h2 {
		font-size: 1.5em;
	}
	.sugerir-text {
		margin-bottom: 0.625em;
	}
	.icon-contato {
		margin-top: 0.4em;
		font-size: 2.2em;
		color: #F0cd65;
	}
	#form-1, #form-2 {
		display: none;
	}
	input[type=text], select, textarea, input[type=email], input[type=password] {
		width: 100%;
		padding: 0.75em;
		border: 0.1em solid #ccc;
		border-radius: 0.25em;
		margin-top: 0.9em;
		margin-bottom: 1.5em;
		resize: none;
	}
	input[type=submit] {
		background-color: #ED734C;
		color: white;
		padding: 0.75em 1.25em;
		border: none;
		border-radius: 0.25em;
		cursor: pointer;
	}
	input[type=submit]:hover {
		background-color: #D64A3A;
	}
	.voltar-btn {
		background-color: white;
		color: black;
		padding: 0 1.25em 1em 0;
		border: none;
		border-radius: 0.25em;
		cursor: pointer;
		font-size: 1.4em;
	}
	.voltar-btn:hover {
		color: #EDB91C;
	}


	.msg-geral {
		width: 25em;
		margin: 0.625em auto;
		padding: 0.625em;
		display: block;
	}
	.msg-sucesso{
		background-color: rgba(50,205,50,.3);
		border: 0.1em solid rgb(31, 212, 31);
		color: rgb(10, 233, 10);
	}
	.msg-erro{
		background-color: rgba(56, 6, 0, 0.3);
		border: 0.1em solid rgb(110, 0, 0);
		color: rgb(207, 1, 1);
	}

	.mySlides {
		display: none;
	}
	.mySlides img {
		width: 100%;
		height: 50vh;
		margin: 0;
		border-bottom: 0.1em solid black;
	}
	.slideshow-container {
		position: relative;
		margin: 0;
	}
	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -1.375em;
		padding: 1em;
		color: white;
		font-weight: bold;
		font-size: 1.1em;
		transition: 0.6 ease;
		border-radius: 0 0.2em 0.2em 0;
		user-select: none;
	}
	.next {
		right: 0;
		border-radius: 0.2em 0 0 0.2em;
	}
	.dot {
		cursor: pointer;
		height: 1em;
		width: 1em;
		margin: 0;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6 ease;
	}
	.dots-container {
		position: absolute;
		bottom: 0;
		margin: 0.5em 1em;
	}
	.active1, .dot:hover {
		background-color:  #F0cd65;
	}
	.prev:hover, .next:hover {
		background-color: rgba(0,0,0,0.8);
		color: #EDB91C;
	}
	.text-block {
		position: absolute;
		bottom: 2.1em;
		right: 2.1em;
		background-color: #247BA0;
		color: white;
		padding-left: 1.25em;
		padding-right: 1.25em;
		border: 0.1em solid #EDB91C;
	}

	.beneficios-container {
		padding: 2% 2%;
	}
	.beneficios {
		display: flex;
		background-color: white;
		border-radius: 0.9em;
		border: 0.15em solid #EDB91C;
		color: black;
	}
	.beneficios p {
		text-align: justify;
	}
	.beneficios-itens {
		width: 50%;
		padding: 2%;
	}
	.beneficios-container h1, .beneficios-container h2  {
		text-align: center;
	}

}