/*------------------------------------------------------------------------------------------------------
Nome do projeto: Check Livros
Descrição: 

Autores:

Turma: 3TID
Matheus Felix Carlos                                                         Versão: 1.0                    
Hebert Victor Saravalle                                                      Data:20/06/21
Kaike Santos Coppola 

-----------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 992px) {
	/* --- Estilos para desktop --- */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	/* -------- Estilo do menu -------- */
	#nav-mobile-tablets {
		display: none;
	}
	#nav-desktop {
		display: block;
	}
	#desktopLinks {
		list-style: none;
		display: flex;
		background-color: #FAFFFF;
		justify-content: flex-end;
		border-bottom: 0.1em solid #EDB91C;
	}
	#desktopLinks a {
		display: block;
		padding: 0.875em;
		color: black;
	}
	#desktopLinks a:hover {
		color: #EDB91C;
	}
	.logo-menu {
		position: absolute; 
		top: 0; 
		left: 0;
	}

	/* -------- Estilo do rodapé -------- */
	.footer {
		background-color: #18546E;
		padding-top: 2em;
		padding-bottom: 2em;
		border-top: 0.1em solid black;
		margin-top: auto;
	}
	.footer-nav {
		display: flex;
	}
	.footer-nav ul {
		margin-left: 15%;
	}
	.p-footer {
		color: white;
		float: left;
		font-weight: bold;
		margin-bottom: 0.4em;
	}
	.a-footer {
		color: white;
		float: left;
		margin-bottom: 0.4em;
	}
	.a-footer:hover {
		color: #EDB91C;
	}
	.logo-container {
		text-align: center;
		color: white;
		font-size: 90%;
	}
	.redes-container {
		padding-left: 10%;
	}
	.redes-container p {
		font-size: 1.4em;
		display: inline;
		color: white;
	}
	.redes-container i {
		font-size: 1.8em;
		color: white;
	}

	/* --------------- ⬇⬇ Estilos ⬇⬇ -----------------------*/

	.fale-conosco-container {
		padding: 5% 15%;
	}
	.sugerir-div {
		background-color: white;
		border: 0.1em solid #EDB91C;
		padding: 2.5% 5%;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
	}
	.sugerir-div:hover {
		background-color: #FAFFFF;
	}
	.sugerir-text {
		margin-bottom: 10px;
	}
	.icon-contato {
		font-size: 3.8em;
	}
	#form-1, #form-2 {
		display: none;
	}

	input[type=text], select, textarea, input[type=email], input[type=password] {
		width: 100%;
		padding: 0.75em;
		border: 0.1em solid #ccc;
		border-radius: 4px;
		margin-top: 0.9em;
		margin-bottom: 1.5em;
		resize: none;
	}
	input[type=submit] {
		background-color: #ED734C;
		color: white;
		padding: 0.75em 1.25em;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}
	input[type=submit]:hover {
		background-color: #D64A3A;
	}
	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 2s;
		animation-name: fade;
		animation-duration: 2s;
	}
	@-webkit-keyframes fade {
		from {opacity: .4}
		to {opacity: 1}
	}
	@keyframes fade {
		from {opacity: .4}
		to {opacity: 1}
	}


	::-webkit-input-placeholder{/*WebKit browsers*/
		color: rgb(0, 0, 0);
	}
	:-moz-placeholder{/*Mozilla Firefox 4 to 18*/
		color: rgb(0, 0, 0);

	}
	:-moz-placeholder{/*Mozilla Firefox 19+ */
		color: rgb(0, 0, 0);
	}
	:-moz-input-placeholder{
		color:rgb(0, 0, 0);
	}
	
	.msg-geral {
		width: 25em;
		margin: 0.625em auto;
		padding: 0.625em;
		display: block;
	}
	.msg-sucesso{
		background-color: rgba(50,205,50,.3);
		border: 0.1em solid rgb(31, 212, 31);
		color: rgb(10, 233, 10);
	}
	.msg-erro{
		background-color: rgba(56, 6, 0, 0.3);
		border: 0.1em solid rgb(110, 0, 0);
		color: rgb(207, 1, 1);
	}

}