/*------------------------------------------------------------------------------------------------------
Nome do projeto: Check Livros
Descrição: 

Autores:

Turma: 3TID
Matheus Felix Carlos                                                         Versão: 1.0                    
Hebert Victor Saravalle                                                      Data:20/06/21
Kaike Santos Coppola 

-----------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 992px) {
	/* --- Estilos para desktop --- */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	/* -------- Estilo do menu -------- */
	#nav-mobile-tablets {
		display: none;
	}
	#nav-desktop {
		display: block;
	}
	#desktopLinks {
		list-style: none;
		display: flex;
		background-color: whitesmoke;
		justify-content: flex-start;
		align-items: center;
		border-bottom: 0.15em solid #EDB91C;
		width: 100%;
		position: fixed;
		z-index: 1;
	}
	.a-desk {
		display: block;
		padding: 0.875em;
		color: black;
	}
	.a-desk:hover {
		color: #EDB91C;
	}
	.logo-menu {
		display: block;
		width: 4vw;
		padding: 0;
	}

	/* -------- Estilo do rodapé -------- */
	.footer {
		background-color: #18546E;
		padding-top: 2em;
		padding-bottom: 2em;
		border-top: 0.1em solid black;
		margin-top: auto;
	}
	.footer-nav {
		display: flex;
		justify-content: space-around;
	}
	.p-footer {
		color: white;
		float: left;
		font-weight: bold;
		margin-bottom: 0.4em;
	}
	.a-footer {
		color: white;
		float: left;
		margin-bottom: 0.4em;
	}
	.a-footer:hover {
		color: #EDB91C;
	}
	.logo-container {
		text-align: center;
		color: white;
	}
	.redes-container {
		padding-left: 10%;
	}
	.redes-container p {
		margin-left: 0.3em;
		font-size: 1.1em;
		display: inline;
		color: white;
	}
	.redes-container i {
		font-size: 1.6em;
		color: white;
	}

	/* --------------- ⬇⬇ Estilos ⬇⬇ -----------------------*/

	.container {
		padding: 5% 15%;
	}

	/* --------------- ⬇⬇ Fale conosco ⬇⬇ -----------------------*/
	#contato-container, #form-1, #form-2 {
		margin-top: 3.5%;
	}
	.sugerir-div {
		background-color: white;
		border: 0.1em solid #EDB91C;
		padding: 2.5% 5%;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
	}
	.sugerir-div:hover {
		background-color: whitesmoke;
	}
	.sugerir-div p {
		font-size: 1em;
	}
	.sugerir-text {
		margin-bottom: 0.625em;
	}
	.icon-contato {
		margin-top: 0.2em;
		font-size: 2.4em;
		color: #F0cd65;
	}
	#form-1, #form-2 {
		display: none;
	}
	input[type=text], select, textarea, input[type=email], input[type=password] {
		width: 100%;
		padding: 0.75em;
		border: 0.1em solid #ccc;
		border-radius: 0.25em;
		margin-top: 0.9em;
		margin-bottom: 1.5em;
		resize: none;
	}
	input[type=submit] {
		background-color: #ED734C;
		color: white;
		padding: 0.75em 1.25em;
		border: none;
		border-radius: 0.25em;
		cursor: pointer;
	}
	input[type=submit]:hover {
		background-color: #D64A3A;
	}
	.voltar-btn {
		background-color: white;
		color: black;
		padding: 0 1.25em 1em 0;
		border: none;
		border-radius: 0.25em;
		cursor: pointer;
		font-size: 1.4em;
	}
	.voltar-btn:hover {
		color: #EDB91C;
	}

	/* --------------- ⬇⬇ Outros estilos ⬇⬇ -----------------------*/
	.msg-geral {
		width: 25em;
		margin: 0.625em auto;
		padding: 0.625em;
		display: block;
	}
	.msg-sucesso{
		background-color: rgba(50,205,50,.3);
		border: 0.1em solid rgb(31, 212, 31);
		color: rgb(10, 233, 10);
	}
	.msg-erro{
		background-color: rgba(56, 6, 0, 0.3);
		border: 0.1em solid rgb(110, 0, 0);
		color: rgb(207, 1, 1);
	}

	/* --------------- ⬇⬇ index - home ⬇⬇ -----------------------*/
	.mySlides {
		display: none;
		margin-top: 4.4%;
	}
	.mySlides img {
		width: 100%;
		height: 80vh;
		margin: 0;
	}
	.slideshow-container {
		position: relative;
		margin: 0;
	}
	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -1.375em;
		padding: 1em;
		color: white;
		font-weight: bold;
		font-size: 1.2em;
		transition: 0.6 ease;
		border-radius: 0 0.2em 0.2em 0;
		user-select: none;
	}
	.next {
		right: 0;
		border-radius: 0.2em 0 0 0.2em;
	}
	.dot {
		cursor: pointer;
		height: 1em;
		width: 1em;
		margin: 0;
		background-color: whitesmoke;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6 ease;
	}
	.dots-container {
		position: absolute;
		bottom: 0;
		margin: 0.5em 1em;
	}
	.active1, .dot:hover {
		background-color:  #F0cd65;
	}
	.prev:hover, .next:hover {
		background-color: rgba(0,0,0,0.8);
		color: #EDB91C;
	}
	.beneficios-container {
		padding: 3% 15% 5% 15%;
		background-color: whitesmoke;
	}
	.beneficios {
		display: flex;
		background-color: white;
		border-radius: 0.9em;
		border: 0.15em solid #EDB91C;
		color: black;
	}
	.beneficios p {
		text-align: justify;
		text-indent: 0.3em;
		line-height: 1.5em;
	}
	.beneficios-itens {
		width: 50%;
		padding: 2%;
	}
	.beneficios-container h1, .beneficios-container h2, .ajuda-sec h1   {
		text-align: center;
	}
	.beneficios-container h1 {
		margin-bottom: 3%;
		font-style: italic;
	}
	.p-beneficios {
		text-align: center;
	}
	.a-beneficios {
		text-decoration: underline;
		color: skyblue;
	}
	.autores-container {
		background-color: #247BA0;
		border-bottom: 0.1em solid black;
		border-top: 0.1em solid black;
	}
	.autores-container h1 {
		color: white;
	}
	.autores-div {
		background-color: white;
		border-radius: 0.9em;
		padding: 2.5% 5%;
		display: flex;
		justify-content: space-between;
	}
	.ajuda-sec {
		background-color: whitesmoke;
		padding: 5% 15%;
	}
	.ajuda-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.ajuda-item {
		background-color: white;
		border: 0.15em solid #EDB91C; 
		border-radius: 0.9em;
		width: 30%;
		padding: 2%;
		text-align: justify;
	}

	/* --------------- ⬇⬇ Quem somos ⬇⬇ -----------------------*/
	.sobre-sec {
		background-color: white;
		padding: 8%;
	}
	.sobre-container {
		display: grid;
		grid-template-columns: 60% auto;
		grid-template-rows: 40% auto;
	}
	.sobre-itens {
		padding: 5%;
		border: 0.1em solid #EDB91C;
		border-radius: 0.9em;
		background-color: white;
	}
	.item-1 {
		grid-row-start: 1;
		grid-row-end: 3;
		margin-right: 55%;
		width: 96%;
	}
	.item-2 {
		margin-bottom: 5%;
	}
	.sobre-itens p {
		text-align: justify;
		text-indent: 0.3em;
		line-height: 1.5em;
	}
	.sobre-itens ul {
		list-style: disc;
		margin-left: 5%;
		margin-top: 2%;
	}

	/* --------------- ⬇⬇ Gêneros de livros ⬇⬇ -----------------------*/
	.gen-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	.gen-h1 {
		text-align: center;
		margin-top: 8%;
	}
	
	
}